<div class = "v-side-bar-itens">
    <div class = "v-side-bar-item v-side-bar-item-top" title = "Início" data-placement="right" data-mod = "user" data-opt = "Home">
        <span class = "glyphicon glyphicon-home"></span>
    </div>

    <div class = "v-side-bar-item" title = "Gestão de Clientes" data-placement="right" data-mod = "clients" data-opt = "Manager">
        <span class = "glyphicon glyphicon-user"></span>
    </div>
    <div class = "v-side-bar-item" title = "Estoque" data-placement="right" data-mod = "wrench" data-opt = "Manager">
        <span class = "glyphicon glyphicon-barcode"></span>
    </div>
    <div class = "v-side-bar-item" title = "Ordem de Serviço" data-placement="right" data-mod = "os" data-opt = "Manager">
        <span class = "glyphicon glyphicon-wrench"></span>
    </div>

    <div class = "v-side-bar-item v-side-bar-item-bottom" title = "Sair" data-placement="right" data-mod = "user" data-opt = "Off">
        <span class = "glyphicon glyphicon-off"></span>
    </div>
</div>